.header{
  top: 0;
  z-index: 1000;
  font-family: 'SedraMedium', sans-serif;
  padding: 1rem 4rem;
  display: flex;
  background-color: var(--preto);
  align-items: center;
  justify-content: left;
  box-shadow: 0, 200px, 100px, var(--cinza);
  font-style: italic;
  font-size: 1.25rem; 
  height: 4rem;
  color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo img{
    height: 2.5rem;
}